.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  min-height: 80vh;
}

.aboutContainer {
  text-align: center;
  min-height: inherit;
}

.title {
  color: var(--fourth-color);
  font-size: var(--fs-xlarge);
  font-family: var(--secondary-font);
  font-weight: var(--fw-bold);
  margin-bottom: 10px;
}

.card {
  background-color: var(--fourth-color);
  max-width: 600px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 12px 12px 2px 1px #ffffff33;
  cursor: default;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  color: var(--secondary-color);
  justify-content: center;
  font-weight: 700;
}

.languages {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  color: var(--secondary-color);
  font-weight: 700;
}

.skills li {
  list-style: none;
  margin: 10px;
  font-weight: 700;
  color: var(--secondary-color);
}

@media screen and (max-width: 768px) {
  .card {
    font-size: var(--fs-small);
  }
  .about {
    min-height: 100vh;
  }
}
